snippet dispatch_once
static dispatch_once_t onceToken;
dispatch_once(&onceToken, ^{
	$1 
});
endsnippet

snippet interface
@interface $1:$2
	$3
@end
endsnippet

snippet clang-format
// clang-format off
$1
// clang-format on
endsnippet
